.container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card {
    margin: 0 2% !important;
    background-color: rgb(194, 198, 202) !important;
    margin-bottom: 20px !important;

}


.infected {
    border-bottom: 10px solid rgba(78, 78, 252, 0.5);
    box-shadow:5px 5px 5px #779cdb !important;
    color: #446db3 !important;
    text-shadow: 
    0 0 5px #7bacff,
    0 0 5px #2c3b53,
    0 0 1px #4f8dfa,
    0 0 1px #2a3e61,
    0 0 1px #0a224b,
    0 0 1px #265fc2,
    0 0 1px #111824,
    0 0 1px #7bacff;
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
    box-shadow:5px 5px 5px #7bffce !important;
    color: #3d9474 !important;
    text-shadow: 
    0 0 5px #7bffce,
    0 0 5px #4cb48e,
    0 0 1px #388065,
    0 0 1px #235341,
    0 0 1px #1e7454,
    0 0 1px #274d3f,
    0 0 1px #122c22,
    0 0 1px #0ba76e;
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
    box-shadow:5px 5px 5px #ff7bac !important;
    color: rgb(238, 120, 130) !important;
    font-size: 80px !important;
    text-shadow: 
    0 0 5px #ff7bac,
    0 0 5px #be1352,
    0 0 1px #9e1749,
    0 0 1px #830634,
    0 0 1px #44091e,
    0 0 1px #960d3f,
    0 0 1px #52021e,
    0 0 1px #eb1060;
}







/* neon digits */
/* .neon { */
/* @import url('https://fonts.googleapis.com/css?family=Londrina+Outline'); */
    /* text-align: center;
    text-transform: uppercase;
    font-size: 8em;
    color: #fff;
    letter-spacing: 0.15em; 
}*/
/* .pink {
    text-shadow: 
        0 0 5px #ff7bac,
        0 0 10px #ff7bac,
        0 0 20px #ff7bac,
        0 0 40px #ff7bac,
        0 0 80px #ff7bac,
        0 0 90px #ff7bac,
        0 0 100px #ff7bac,
        0 0 150px #ff7bac;
}*/

/* .blue {
    text-shadow: 
        0 0 5px #7bacff,
        0 0 10px #7bacff,
        0 0 20px #7bacff,
        0 0 40px #7bacff,
        0 0 80px #7bacff,
        0 0 90px #7bacff,
        0 0 100px #7bacff,
        0 0 150px #7bacff;
}
.green {
    text-shadow: 
        0 0 5px #7bffce,
        0 0 10px #7bffce,
        0 0 20px #7bffce,
        0 0 40px #7bffce,
        0 0 80px #7bffce,
        0 0 90px #7bffce,
        0 0 100px #7bffce,
        0 0 150px #7bffce;
} */