body {
    /* background-color: rgb(69, 71, 71); */
    background-image: url(bgneon.gif);
    /* background-repeat: ; */
    /* background-size: cover; */

}
.container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction:  column;

 }